$layout-default-height:         92vh;
$layout-header-height:          6vh;
$layout-content-height:         ($layout-default-height - $layout-header-height);

$color-text-invert:             #fff;
$color-text-invert-active:      #65bdff;
